body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70rem;
}

.page{
    width: 45rem;
    height: 55rem;
    border: 1px solid black;
}

h1,
h2,
h3,
.total-amount{
    font-family: "Arial";
}

h1{
    text-align: center;
    font-size: 2.5rem;
}

.scan,
.scan-text,
.quantity,
.quantity-text,
.button-add,
.divider,
h2,
h3,
.total-amount,
.button-checkout{
    position: relative;
}

.scan,
.scan-text,
.quantity{
    left: 1rem;
}

.scan,
.scan-text{
    display: inline-block;
}

.scan-text{
    color: #808080;
}

.quantity-text{
    top: -2rem;
    left: 5rem;
}

.button-add{
    top: 1rem;
    left: -8.4rem;
    color: #FFFFFF;
    background-color: 	#228B22;

}

.divider{
    border: 1px solid black;
    top: 1.25rem;
    left: 1rem;
    width: 43rem;
}

h2{
    text-align: center;
    font-size: 2rem;
    top: 1rem;
}

h3{
    display: inline-block;
    font-size: 1.5rem;
    left: -1rem;
    text-indent: 8rem;
    text-decoration: underline;
}

.item-list{
    width: 40rem;
    height: 15rem;
    line-height: 3em;
    overflow: scroll;
    padding: 1rem;
    position: relative;
    left: 1.5rem;
}

.total-amount{
    left: 2rem;
    top: 1rem;
}

.button-checkout{
    left: 2rem;
    top: 1rem;
    color: #FFFFFF;
    background-color: 	#228B22;
}

.item{
    width: 5rem;
    height: 5rem;
    border: 1px solid black;
}